#p5-canvas {
    position: absolute;
    top: 0vh;
    bottom: 0vh;
    width:100%;
}

.background-photo {
    background-image: url('./images/background.jpg');
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 98vh;
    object-fit: cover;
    width:100%;
}

.title {
    font-family: 'Josefin Sans';
    font-size: 3em;
    color: rgb(214, 136, 214);
    font-weight: 900;
    margin-left: 1%;
    width:99%;
    padding-top:0vh;
}

.second-line {
    font-family: 'Josefin Sans';
    font-size: 4.3em;
    color: rgb(214, 136, 214);
    font-weight: 900;
    margin-left: 43%;
    width:57%;
    padding-top:2vh;
}

.third-line {
    font-family: 'Josefin Sans';
    font-size: 7.5em;
    color: rgb(214, 136, 214);
    font-weight: 900;
    margin-left: 50%;
    width:50%;
    margin-top:-11.5vh;
}

.guide {
    font-family: 'Josefin Sans';
    font-size: 1.7em;
    color: rgba(72, 60, 13, 0.836);
    font-weight: 700;
    line-height: 2.08em;
    margin-left: 1%;
    width:28%;
    margin-top:13vh;
}

.containerTarotText {
    margin-left: 1%;
    width:27%;
    color: rgba(87, 154, 160, 100);
}

h3 {
    font-family: 'Josefin Sans';
    font-size: 1.3em;
    font-weight: lighter;
    line-height: 1.4em;
    font-family: 'Josefin Sans';
    margin-top:4vh;
}

h2 {
    font-family: 'Josefin Sans';
    margin-bottom: 1em;
    font-size: 5em;
    line-height: 0.74em;
    margin-top:10vh;
}